 <h1 class="mt-3 text-dark title-text text-center">Add a Toy!</h1>
 
<form method="POST" action="/addtoy" enctype="multipart/form-data">
  
    <div class="form-group">
    <select class="form-control" id="category" name="category">
      <option value="">Age Range:</option>
        <option value="0-1">0-1</option>
        <option value="2-3">2-3</option>
        <option value="4-6">4-6</option>
        <option value="6-8">6-8</option>
        <option value="8+">8+</option>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="name" toyholder="toy Name">
  </div>
   <div class="form-group">
    <label class="hidden" for="location">Your Zipcode</label>
    <input id="location-input" class="form-control hidden" type="text" name="location" placeholderholder="Location">
    </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description"  name="description" rows="3"></textarea>
  </div>
   <div class="form-group">
    <input type="file" name="file">
  </div>
  <div class="form-group">
    <button class="myButton">Submit</button>
  </div>
</form>

  <script src="scripts/add.js"></script>

 