 <h1 class="mt-5 text-dark text-center">Add a Toy!</h1>
 
<button type="button" class="myButton" id='locationButton'>Get Current Location <span class="spinner-border spinner-border-sm hidden" id="loading" role="status" aria-hidden="true"></span></button>

<form method="POST" action="/addtoy" enctype="multipart/form-data">
   <div class="form-group location-hide">
    <label class="hidden" for="location">Location:</label>
    <input id="location-input" class="form-control hidden" type="text" name="location" toyholder="Location">
    </div>
    <div class="form-group">
    <select class="form-control" id="category" name="category">
      <option value="">Choose an Age Range:</option>
        <option value="1">0-1</option>
        <option value="2">2-3</option>
        <option value="3">4-6</option>
        <option value="4">6-8</option>
        <option value="5">8+</option>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="name" toyholder="toy Name">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description"  name="description" rows="3"></textarea>
  </div>
   <div class="form-group">
    <input type="file" name="file">
  </div>
  <div class="form-group">
    <button class="myButton">Submit</button>
  </div>
</form>

  <script src="scripts/add.js"></script>

 