 <h1 class="mt-3 title-text text-dark text-center">Edit your Toy</h2>

<button type="button" id='locationButton'>Get Current Location <span class="spinner-border spinner-border-sm hidden" id="loading" role="status" aria-hidden="true"></span></button>
   <form method="POST" action="/edit/{{toy._id}}">
   <div class="form-group location-hide">
    <label for="location" class="hidden">Location:</label>
    <input id="location-input" class="form-control hidden " type="text" name="location">
    </div>
    <div class="form-group">
    <select class="form-control" id="category" name="category">
      <option value="">Choose an Age Range:</option>
       <option value="1">0-1</option>
        <option value="2">2-3</option>
        <option value="3">4-6</option>
        <option value="4">6-8</option>
        <option value="5">8+</option>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="name" value="{{toy.name}}">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description"  name="description" rows="3">{{toy.description}}</textarea>
  </div>
   <div class="form-group">
    <input type="file" name="file">
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Submit</button>
  </div>
</form>

 <script src="scripts/add.js"></script>