<h1 class="title-text text-center text-dark mt-3">TOYS</h1>

{{!-- //Location Search Option --}}
{{!-- <div class="mx-auto mt-3 mb-3 text-center">
  <input id="address-search" class='m-0' type='text' placeholder='Location'>
  <button class="btn-sm btn-warning" type="button" id='search-btn'>Search</button>
</div> --}}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-5 col-lg-2">
      <input class='mx-1 filter-btn' id='check-1' type="checkbox" name='0-1'/>
    <label for="check-1">0-1 year</label>
    </div>
    <div class="col-5 col-lg-2">
      <input class='mx-1 filter-btn' id='check-2' type="checkbox" name='2-3'/>
    <label for="check-2">2-3 years</label>
    </div>
    <div class="col-5 col-lg-2">
      <input class='mx-1 filter-btn' id='check-3' type="checkbox" name='4-6'/>
    <label for="check-3">4-6 years</label>
    </div>
    <div class="col-5 col-lg-2">
      <input class='mx-1 filter-btn' id='check-4' type="checkbox" name='6-8'/>
    <label for="check-4">6-8 years</label>
    </div>
    <div class="col-5 col-lg-2">
      <input class='mx-1 filter-btn' id='check-5' type="checkbox" name='8+'/>
    <label for="check-5">8+ years</label>
    </div>
  </div>
</div>

<div class='my-4 text-center'>
 <div id='map' class='map mx-auto'></div>   
 <button class='btn btn-primary my-4 text-white d-block mx-auto myButton' type="button"><a href="/add" class="text-white h5"> Add New toy</a></button>
  <div class="card-row row justify-content-around">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img class='card-img-top' src="" alt="toy">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
            <p></p>
        </div>
      </div>
    </div>
</div>


