<h1 class="title-text text-center text-white mt-5">Toys</h1>
<div class='mt-5 text-center'>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" name="1" class="btn btn-primary filter-btn">0-1</button>
    <button type="button" name="2" class="btn btn-primary filter-btn">2-3</button>
    <button type="button" name="3" class="btn btn-primary filter-btn">4-6</button>
    <button type="button" name="4" class="btn btn-primary filter-btn">6-8</button>
    <button type="button" name="5" class="btn btn-primary filter-btn">8+</button>
  </div>
</div>

<div class="my-5" id="map"></div>
  <button class='btn btn-primary my-4 text-white d-block mx-auto myButton' type="button"><a href="/add" class="text-white h5"> Add New toy</a></button>
  
  <div class="row justify-content-around">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img class='card-img-top' src="" alt="toy">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
            <p></p>
        </div>
      </div>
    </div>
</div>


