<body style="background-image: url(/images/landing.jpg); background-size: cover; background-repeat: no-repeat; height: 100vh"></body>

<div class="container text-center p-0 mt-5">
  <h1 class="title-text text-white">TOY SHARE</h1>
  <h4 class="sub-text text-white mt-n3">Find and donate gently used toys in your community!</h4>
  <button class="myButton btn mt-5"><a href='/home'>Get Started!</a></button>
</div>

