<body style="background-image: url(/images/landing.png); background-size: cover; background-repeat: no-repeat; height: 100vh"></body>

<div class="container pb-3 text-center rounded p-0 mt-4">
  <h1 class="main-title-text">TOY SHARE</h1>
  <h4 class="sub-text mx-auto">Find and donate gently used toys in your community!</h4>
  <button class="myButton btn btn-lg mt-5 d-block mx-auto"><a class="text-white" href='/home'>Get Started!</a></button>
</div>
