<body style="background-image: url(/images/home.jpg); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh"></body>

<div class="container text-left rounded mt-5 py-3">
  <h1 class="main-title-text text-white">Toy Share</h1>
  <h4 class="sub-text mx-auto mt-3 text-white">Find and donate gently used toys in your community!</h4>
  <button class="btn-danger btn-lg btn mx-2 mt-4"><a class="text-white" href='/home'>See Toys</a></button>
</div>
