<body style="background-image: url(/images/landing.png); background-size: cover; background-repeat: no-repeat; height: 100vh"></body>

<div class="container text-center rounded mt-5 py-3">
  <h1 class="main-title-text text-dark">TOY SHARE</h1>
  <h4 class="sub-text mx-auto mt-3">Find and donate gently used toys in your community!</h4>
  <button class="myButton btn btn-lg mt-5 d-block mx-auto"><a class="text-white" href='/home'>Get Started!</a></button>
</div>
