<body style="background-image: url(/images/confetti.jpg); background-size: cover; background-position: right; background-repeat: no-repeat; height: 100vh"></body>

<div class="container bg-light pb-3 text-center rounded p-0 mt-5">
  <h1 class="main-title-text text-dark">TOY SHARE</h1>
  <h4 class="sub-text mt-n3 text-dark">Find and donate gently used toys in your community!</h4>
  <button class="myButton btn btn-lg mt-5"><a class="text-white" href='/home'>Get Started!</a></button>
</div>
