<body style="background-image: url(/images/home.png); background-size: cover; background-repeat: no-repeat; height: 100vh"></body>

<div class="container text-center rounded mt-5 py-3">
  <h1 class="main-title-text ">Toy Share</h1>
  <h4 class="sub-text mx-auto mt-4 ">Find and donate gently used toys in your community!</h4>
  <button class="btn-secondary btn-lg btn mx-2 mt-4"><a class="text-white" href='/home'>See Toys</a></button>
</div>
