<body style="background-image: url(/images/animal.png); background-size: cover; background-position: 7%; background-repeat: no-repeat; height: 100vh"></body>



<div class='container log-form mt-5 p-4'>
<h1 class="mb-4">Sign Up</h1>
<form method="POST" action="/signup">
<div class="form-group mb-4">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" name="name"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" toyholder="Enter username">
  </div>
  <div class="form-group mb-4">
    <label for="exampleInputEmail1">Email Address</label>
    <input type="email" name="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" toyholder="Enter email">
  </div>
  <div class="form-group mb-4">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" toyholder="Password">
  </div>
  <button type="submit" class="btn btn-success px-5 mt-2 mx-auto d-block">Sign Up</button>
</form>
</div>