$font-sans: "Cormorant Garamond", serif;
$primary: #fffb00;
$secondary: #ff0000;
$border-radius: 1.5rem;
$font-size-base: 1.5rem;
$light: white;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  // background-color: #6bd5e9;
  // background-image: linear-gradient(
  //   225deg,
  //   #6bd5e9 0%,
  //   #b5fffc 50%,
  //   #80e9f7 100%
  // );
}

h1,
.navbar {
  font-family: "Patrick Hand SC", cursive;
}

.navbar .text-white {
  text-shadow: 2px 2px 2px #32426e;
}

.logout {
  font-size: 2.25rem;
  line-height: 1.2;
}

.main-title-text {
  font-size: 11rem;
  text-shadow: 10px 1px 0px #ff003e;
}

.title-text {
  font-size: 8rem;
}

.sub-text {
  text-shadow: 7px 0px 15px #0061eb, 0 0 1em #4fc5ff, 0 0 0.2em #056ff1;
}

.myButton {
  box-shadow: 0px 0px 7px 1px #d7d0d0;
  background: linear-gradient(to bottom, #c80404 5%, #db2f40 100%);
  background-color: #ed0808;
  border-radius: 26px;
  border: 1px solid #6e686e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 14px #525252;
}
.myButton:hover {
  background: linear-gradient(to bottom, #a30202 5%, #a01d2a 100%);
  background-color: #696369;
  color: white;
  text-decoration: none;
}
.myButton:active {
  position: relative;
  top: 1px;
}

#map {
  width: 60vw;
  height: 500px;
  overflow: hidden;
  // margin: 0 auto;
}

.favButton {
  padding: 30px 30px 0px 30px;
  float: right;
  font-size: 2rem;
  background-color: Transparent;
  border: none;
}

// a {
//   color: inherit;
//   text-decoration: none;
// }

// .a:hover {
//   text-decoration: none;
// }

@media (min-width: 320px) and (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }

  #map {
    width: 80vw;
    height: 40vh;
  }

  .main-title-text {
    font-size: 6rem;
  }

  .title-text {
    font-size: 6rem;
  }

  .sub-text {
    font-size: 1.75rem;
  }
}
