$font-sans: "Cormorant Garamond", serif;
$primary: #fffb00;
$secondary: #a7a5a5;
$success: #ffa470;
$dark: #000000;
$border-radius: 1.5rem;
// $font-size-base: 1.5rem;
$light: #ffffffb0;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  height: 100vh;
}

h1,
.navbar {
  font-family: "Josefin Slab", sans-serif;
}

.navbar {
  background-color: black;
}

// .navbar .text-white {
//   text-shadow: 2px 2px 2px #32426e;
// }

// .navbar-brand {
//   text-shadow: 2px 2px 2px white;
// }

.logout {
  padding: 0;
}

.log-form {
  width: 50%;
}

.main-title-text {
  font-size: 11rem;
  line-height: 1.1;
}

.title-text {
  font-size: 5rem;
}

.sub-text {
  font-weight: 700;
  font-size: 2rem;
  color: #4e4c4c;
}

.myButton {
  // box-shadow: 0px 0px 7px 1px #d7d0d0;
  background: linear-gradient(to bottom, #0dd8f3 5%, #02e3eb 100%);
  background-color: #52ccf1;
  border-radius: 26px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 7px 25px;
  text-decoration: none;
  font-weight: 700;
}
.myButton:hover {
  background: linear-gradient(to bottom, #0499ad 5%, #0285ad 100%);
  background-color: #0691aa;
  color: white;
  text-decoration: none;
}
.myButton:active {
  position: relative;
  top: 1px;
}

#map {
  width: 60vw;
  height: 400px;
  overflow: hidden;
}

#contact-form div {
  width: 60%;
}

#toy-image {
  width: 50%;
}

.favButton {
  padding: 30px 30px 0px 30px;
  float: right;
  font-size: 2rem;
  background-color: Transparent;
  border: none;
}

a:hover {
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 768px) {
  #contact-form div {
    width: 100%;
  }
  .log-form {
    width: 100%;
  }

  #map {
    width: 80vw;
    height: 40vh;
  }

  .main-title-text {
    font-size: 8rem;
  }

  .title-text {
    font-size: 3rem;
  }

  .sub-text {
    font-size: 1.5rem;
  }

  .nav-item {
    padding-top: 17px;
  }

  #toy-image {
    width: 80%;
  }

  .toy-detail {
    padding: 0;
  }
  .search-btn {
    margin-top: 5px;
  }

  .checkboxes {
    display: none;
  }

  #search-btn {
    display: none;
  }
}
