$font-sans: "Cormorant Garamond", serif;
$primary: #e9e500;
$secondary: #00e3eb;
$border-radius: 1.5rem;
$font-size-base: 1.75rem;
$light: white;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

// a {
//   font-family: "Cormorant Garamond", serif;
// }

h1,
.navbar {
  font-family: "Luckiest Guy", cursive;
}

.logo {
  width: 10px;
}

.title-text {
  font-size: 11rem;
  text-shadow: 7px 0px 15px #0176c0, 0 0 1em #ede1e1, 0 0 0.2em #00c4ff;
}

.sub-text {
  text-shadow: 7px 0px 15px #0061eb, 0 0 1em #4fc5ff, 0 0 0.2em #056ff1;
}

.myButton {
  box-shadow: 0px 0px 7px 1px #d7d0d0;
  background: linear-gradient(to bottom, #c80404 5%, #db2f40 100%);
  background-color: #ed0808;
  border-radius: 26px;
  border: 1px solid #6e686e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 14px #525252;
}
.myButton:hover {
  background: linear-gradient(to bottom, #a30202 5%, #a01d2a 100%);
  background-color: #696369;
  color: white;
  text-decoration: none;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.placeImgPro {
  width: 30%;
}

.title-home {
  padding-top: 20px;
}

.navbar .text-white {
  text-shadow: 2px 2px 2px #32426e;
}

#map {
  margin: 0;
  width: 60vw;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}
.filter-btn {
  margin: 0 auto;
}
.background-img {
  width: 100vh;
}

.favButton {
  padding: 30px 30px 0px 30px;
  float: right;
  font-size: 2rem;
  background-color: Transparent;
  border: none;
}

.placeName {
  clear: both;
}

#map {
  margin: 0;
  width: 60vw;
  height: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.placeName {
  clear: both;
}

.titleInput {
  height: 40px;
  border-radius: 1rem;
}

//I think these are media queries
a {
  color: inherit;
  text-decoration: none;
}

.a:hover {
  text-decoration: none;
}

.myplaces {
  width: 250px;
  padding-top: 30px;
}

.myplaces {
  width: 250px;
  padding-top: 30px;
}

.secretplace {
  width: 400px;
}

.myplaces {
  width: 250px;
  padding-top: 30px;
}

.myfavourite {
  width: 300px;
  padding-top: 30px;
}

.secretplace {
  width: 400px;
}

.hidden {
  display: none;
}
@media (min-width: 320px) and (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }

  #map {
    margin: 0;
    width: 80vw;
    height: 40vh;
    overflow: hidden;
    margin: 0 auto;
  }

  .title-text {
    font-size: 6rem;
  }

  .sub-text {
    font-size: 1.75rem;
  }
}
